<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>布局</title>
</head>

<body>
	<p>作为指定值，除了定位和浮动元素和根元素。 在这两种情况下，计算的值可以是除指定的值之外的关键字。
	</p>
	<table border="1" cellpadding="10">
		<tbody>
			<tr>
				<th>版本</th>
				<th>属性值</th>
				<th>描述</th>
			</tr>
			<tr>
				<td rowspan="4">基本值 CSS1</td>
				<td>none</td>
				<td>
					<p>关闭一个元素的显示(对布局没有影响);其所有后代元素都也会被关闭显示.完当渲染时,该元素如同不存在.</p>
					<p>要想让元素在隐藏的同时占据其原有的位置, 使用visibility属性</p>
				</td>
			</tr>
			<tr>
				<td>inline</td>
				<td>让元素生成一个或多个行内元素盒</td>
			</tr>
			<tr>
				<td>block</td>
				<td>该元素生成一个块元素</td>
			</tr>
			<tr>
				<td>list-item</td>
				<td>该元素生成一个容纳内容和单独的列表行内元素盒的块状盒</td>
			</tr>
			<tr>
				<td>拓展值 CSS2.1</td>
				<td>inline-block</td>
				<td>该元素生成一个块状盒,该元素随着周围内容流动,如同他是一个单独的行内盒子(表现像是一个被替换的元素)</td>
			</tr>
			<tr>
				<td rowspan="9">表格模型值 CSS2.1</td>
				<td>inline-table</td>
				<td>内联样式表格</td>
			</tr>
			<tr>
				<td>table</td>
				<td>类似&lt;table&gt;元素。它定义了一个块级盒子</td>
			</tr>
			<tr>
				<td>table-caption</td>
				<td>这个元素的作用类似&lt;caption&gt;</td>
			</tr>
			<tr>
				<td>table-cell</td>
				<td>这个元素的作用类似&lt;td&gt;</td>
			</tr>
			<tr>
				<td>table-column</td>
				<td>这个元素的作用类似&lt;col&gt;</td>
			</tr>
			<tr>
				<td>table-column-group</td>
				<td>这个元素的作用类似&lt;colgroup&gt;</td>
			</tr>
		</tbody>
	</table>
</body>

</html>
