<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>浮动</title>
</head>
<body>
<h3>float</h3>
<p>float CSS属性指定一个元素应沿其容器的左侧或右侧放置，允许文本的内联元素环绕它</p>
<p>该元素从网页正常流中移除，尽管其仍然保持部分的流动性(与绝对定位相反)</p>

<p>使用float 意味着使用块布局, 他在某些情况下修改 display值的计算值 (制定为bloack)</p>
<p>但是对 flex 和 inline-flex 无效</p>
<table border="1" cellpadding="10">
  <caption>float 属性的值被指定为单一的关键字，值从下面的值列表中选择</caption>
  <tbody>
    <tr>
      <th>值</th>
      <td>描述</td>
    </tr>
    <tr>
      <td>left</td>
      <td>表明元素必须浮动在其所在t的块容器左侧的关键字</td>
    </tr>
    <tr>
      <td>right</td>
      <td>表明元素必须浮动在其所在的块容器右侧的关键字</td>
    </tr>
    <tr>
      <td>none</td>
      <td>表明元素不进行浮动的默认关键字</td>
    </tr>
  </tbody>
</table>
<h4>浮动元素的定位方式</h4>
<p>脱离标准流的元素会根据值向左 或 右平移，一直平移知道碰到所处容器的边框，或者另一个浮动元素</p>
    
</body>
</html>
