<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>能见度</title>
</head>

<body>
    <table border="1" cellpadding="10">
        <tbody>
            <tr>
                <th>值</th>
                <th>描述</th>
            </tr>
            <tr>
                <td>visible</td>
                <td>可见</td>
            </tr>
            <tr>
                <td>hidden</td>
                <td>隐藏</td>
            </tr>
            <tr>
                <td>collapse(IE6+)</td>
                <td>用来隐藏表格的行或列.隐藏的行或列可以被其他内容使用。对于表格外的其他对象，其作用等同于hidden</td>
            </tr>
            <tr>
                <td>inherit</td>
                <td>继承</td>
            </tr>
        </tbody>
    </table>
    <h3>与display 不同，其隐藏的内容是占用位置的。如果元素可视，其父元素也是可视的</h3>
</body>

</html>
